<loader *ngIf="isLoading" />
<main *ngIf="!isLoading">
  <div class="container">
    <div class="main-row">
      <ng-container *ngFor="let movie of movies">
        <div
          *ngIf="movie.poster_path"
          class="animate__animated"
          [ngClass]="{
            animate__lightSpeedInRight: id === 28,
            animate__zoomInDown: id === 12,
            animate__rollIn: id === 16,
            animate__backInRight: id === 35
          }"
        >
          <div class="film">
            <img
              src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}"
              alt=""
            />
            <div class="info">
              <div class="head">
                <h3>{{ movie.original_title }}</h3>
                <div class="rate">
                  <span>{{ movie.vote_average | average }}</span>
                  <i class="fa-solid fa-star"></i>
                </div>
              </div>
              <p>{{ movie.overview | descrip : 50 }}</p>
              <a class="btn more" routerLink="/film/{{ movie.id }}">More</a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</main>
