<main>
  <div class="container pt-3">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="form-group search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" name="search" ngModel />
      </div>
      <button>Search</button>
    </form>
    <div class="row">
      <ng-container *ngFor="let film of result">
        <div class="col-lg-4" *ngIf="film.poster_path">
          <div class="row result" routerLink="/film/{{ film.id }}">
            <div class="col-lg-3">
              <img
                src="https://image.tmdb.org/t/p/w500/{{ film.poster_path }}"
                alt=""
              />
            </div>
            <div class="col-lg-9">
              <h4>{{ film.title }}</h4>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</main>
