<nav
  class="navbar navbar-expand-lg py-3"
  style="background-color: black; position: sticky; top: 0; z-index: 100"
  data-bs-theme="dark"
>
  <div class="container-md">
    <a class="navbar-brand logo" routerLink="home"
      ><i class="fa-solid fa-film"></i> EGY-Film</a
    >
    <button
      *ngIf="auth"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" *ngIf="auth">
      <div class="navbar-nav">
        <a
          class="nav-link"
          aria-current="page"
          routerLink="home"
          routerLinkActive="active"
          >Home</a
        >
        <a class="nav-link" routerLink="category/28" routerLinkActive="active"
          >Action</a
        >
        <a class="nav-link" routerLink="category/12" routerLinkActive="active"
          >Adventure</a
        >
        <a class="nav-link" routerLink="category/16" routerLinkActive="active"
          >Animation</a
        >
        <a class="nav-link" routerLink="category/35" routerLinkActive="active"
          >Comedy</a
        >
        <button class="nav-link search" routerLink="search">
          <i class="fa-solid fa-magnifying-glass"></i> Search
        </button>
      </div>
      <!-- user Data when signIn -->
      <div class="data d-flex align-items-center ms-md-auto" *ngIf="auth">
        <p class="m-0">
          Welcome
          <strong>{{ userData.given_name }}</strong>
        </p>
        <div class="image">
          <img src="{{ userData.picture }}" alt="" />
        </div>
        <a class="signin" *ngIf="auth" (click)="onSignOut()" routerLink="auth">
          |
          <i class="fa-solid fa-right-to-bracket"></i> SignOut
        </a>
      </div>
    </div>
  </div>
</nav>
