<!-- <nav
  class="navbar navbar-expand-lg py-3"
  style="background-color: black"
  data-bs-theme="dark"
>
  <div class="container-md">
    <a class="navbar-brand logo"><i class="fa-solid fa-film"></i> Show Time</a>
    <div class="data d-flex align-items-center ms-md-auto" *ngIf="auth">
      <p class="m-0">
        Welcome
        <strong>{{ userData.given_name }}</strong>
      </p>
      <div class="image">
        <img src="{{ userData.picture }}" alt="" />
      </div>
      <a class="signin" *ngIf="auth" (click)="onSignOut()" routerLink="">
        |
        <i class="fa-solid fa-right-to-bracket"></i> SignOut
      </a>
    </div>
    <a class="signin" *ngIf="!auth">
      <i class="fa-solid fa-right-to-bracket"></i>
      SignIn
    </a>
  </div>
</nav> -->

<nav
  class="navbar navbar-expand-lg py-3"
  style="background-color: black"
  data-bs-theme="dark"
>
  <div class="container-md">
    <a class="navbar-brand logo"><i class="fa-solid fa-film"></i> Show Time</a>
    <button
      *ngIf="auth"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" *ngIf="auth">
      <div class="form-group search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Enter Film Name" />
      </div>
      <!-- user Data when signIn -->
      <div class="data d-flex align-items-center ms-md-auto" *ngIf="auth">
        <p class="m-0">
          Welcome
          <strong>{{ userData.given_name }}</strong>
        </p>
        <div class="image">
          <img src="{{ userData.picture }}" alt="" />
        </div>
        <a class="signin" *ngIf="auth" (click)="onSignOut()" routerLink="">
          |
          <i class="fa-solid fa-right-to-bracket"></i> SignOut
        </a>
      </div>
    </div>

    <!-- signIn -->
    <a class="signin" *ngIf="!auth">
      <i class="fa-solid fa-right-to-bracket"></i>
      SignIn
    </a>
  </div>
</nav>
