.logo {
  & {
    color: #e50914;
    font-size: 25px;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  i {
    font-size: 30px;
  }
}
a {
  cursor: pointer;
  text-decoration: none;
}
.signin {
  & {
    color: white;
    transition: 0.5s;
  }
  &:hover {
    color: #a6a6a6;
  }
  &:hover i {
    color: #a6a6a6;
  }
  i {
    color: white;
    margin-right: 5px;
    transition: 0.5s;
  }
}
.data {
  & {
    color: white;
    gap: 10px;
  }
  .image {
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}
