<!-- banner -->

<div class="swiper mb-3" #banner>
  <div class="swiper-wrapper">
    <ng-container *ngFor="let film of films">
      <div class="swiper-slide" *ngIf="film.poster_path">
        <img
          src="https://image.tmdb.org/t/p/w500/{{ film.poster_path }}"
          alt=""
        />
        <div class="info">
          <h3>{{ film.original_title }}</h3>
          <p class="my-3">
            {{ film.overview }}
          </p>
          <button class="btn px-4 py-2" routerLink="/film/{{ film.id }}">
            More Info
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!-- end banner -->
