.logo {
  & {
    color: #e50914;
    font-size: 25px;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  img {
    width: 30px;
    background-color: #e50914;
  }
}
a {
  cursor: pointer;
  text-decoration: none;
}
.signin {
  & {
    color: white;
  }
  i {
    color: white;
    margin-right: 5px;
  }
}
