<div class="overlay">
  <iframe
    src="https://www.youtube.com/embed/avz06PDqDbM?autoplay=1&mute=1&loop=1&controls=0"
    frameborder="0"
  ></iframe>
  <div class="info">
    <h3>Mission Impossible</h3>
    <p class="my-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quisquam
      minima suscipit eligendi! Ullam nam expedita omnis ratione nemo excepturi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet suscipit
      delectus aliquid eaque dolor eius perspiciatis cumque repellat fugit.
      Iusto!
    </p>
    <button class="btn px-4 py-2 me-2">
      <i class="fa-solid fa-play"></i> Play
    </button>
    <button class="btn px-4 py-2">More Info</button>
  </div>
</div>
