.main {
  & {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: black, $alpha: 0.5);
  }
  img {
    width: 100%;
    height: 100%;
  }
  .auth {
    & {
      box-sizing: border-box;
      width: 500px;
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      position: absolute;
      z-index: 10;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 600px;
      max-width: 95%;
    }
    input.ng-invalid.ng-touched {
      border-color: #e50914;
    }
    // .form-control:focus {
    //   border-color: #e50914;
    //   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px #e50914;
    // }
    .controls {
      & {
        display: flex;
        gap: 10px;
        @media (max-width: 420px) {
          flex-direction: column;
        }
      }
      button {
        display: block;
        width: 100%;
      }
      button:first-of-type {
        background-color: #e50914;
        color: white;
        transition: 0.3s;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .google {
      & {
        display: flex;
        align-items: center;
      }
      span:not(.or) {
        display: inline-block;
        width: 40%;
        height: 1px;
        background-color: #a6a6a6;
        flex: 1;
      }
      .or {
        width: 30px;
        text-align: center;
        color: #a6a6a6;
        font-size: 15px;
        font-weight: 600;
      }
    }
  }
}
