<main>
  <trailer [Url]="video" *ngIf="watchTrailer" (close)="watchTrailer = false" />
  <div class="container">
    <img
      *ngIf="false"
      src="https://image.tmdb.org/t/p/w500/{{ details.poster_path }}"
      alt=""
    />
    <div class="info">
      <h3></h3>
      <p></p>
      <button class="btn" (click)="watchTrailer = true">watch Trailer</button>
    </div>
    <!-- <div class="row">
      <div class="col-lg-4">
        <div class="row">
          <div class="col-lg-2">
            <img src="" alt="" />
          </div>
          <div class="col-lg-10">
            <h4></h4>
            <p></p>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</main>
