<trailer [Url]="video" *ngIf="watchTrailer" (close)="watchTrailer = false" />
<main>
  <div class="container">
    <img
      src="https://image.tmdb.org/t/p/w500/{{ details.poster_path }}"
      alt=""
    />
    <div class="info">
      <h3>{{ details.original_title }}</h3>
      <p>{{ details.overview }}</p>
      <button class="btn" (click)="watchTrailer = true">watch Trailer</button>
    </div>
    <div class="row cast">
      <p>{{ details.original_title }} Cast :</p>
      <div class="row">
        <div class="col-lg-4" *ngFor="let act of cast">
          <div class="row act">
            <div class="col-lg-2">
              <img
                *ngIf="act.profile_path"
                src="https://image.tmdb.org/t/p/w500/{{ act.profile_path }}"
                alt=""
              />
            </div>
            <div class="col-lg-10">
              <h4>{{ act.original_name }}</h4>
              <p>{{ act.character }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
