<div class="container-fluid py-3 main">
  <p class="title ps-4">{{ title }}</p>
  <div class="swiper mySwiper" #swiper>
    <div class="swiper-wrapper px-4 py-3">
      <ng-container *ngFor="let film of films">
        <div class="swiper-slide" routerLink="/film/{{ film.id }}">
          <img
            src="https://image.tmdb.org/t/p/w500/{{ film.poster_path }}"
            alt=""
          />
          <div class="desc p-2 d-block">
            <span class="fw-bold text-capitalize">{{
              film.original_title
            }}</span>
            <p class="m-0 my-2 lh-sm fw-light">
              {{ film.overview | descrip : 20 }}
            </p>
            <span class="text-success fw-semibold"
              >Vote Average : {{ film.vote_average | average }}</span
            >
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
