<div class="container-fluid py-5 main">
  <p class="title ps-4">Title</p>
  <div class="swiper mySwiper" #swiper>
    <div class="swiper-wrapper px-4 py-3">
      <ng-container *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
        <div class="swiper-slide">
          <img
            src="https://m.media-amazon.com/images/M/MV5BYzFiZjc1YzctMDY3Zi00NGE5LTlmNWEtN2Q3OWFjYjY1NGM2XkEyXkFqcGdeQXVyMTUyMTUzNjQ0._V1_.jpg"
            alt=""
          />
          <div class="desc p-2 d-block">
            <span class="fw-bold text-capitalize">mission imposible</span>
            <p class="m-0 my-2 lh-sm fw-light">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
              minus excepturi asperiores reprehenderit praesentium.
            </p>
            <span class="text-success fw-semibold">Vote Average : 9.7</span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
